node_modules
dist
.vite
coverage
src-tauri/target
azookey-rust/target
src-tauri/gen
.tools
*.log
.DS_Store
*.tsbuildinfo

# Local model files can be several gigabytes.
models
*.gguf
*.onnx
*.bin
